
nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.menu {
  display: none;
}

.avatar-logo > img {
  width: 40px;
  aspect-ratio: 1/1;
}

nav > :nth-child(4):not(ul li) {
  margin-left: auto;
}

.menu.active {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width:70%;
  height: 100dvh;
  background-color: var(--white);
  border: 1px solid red;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-link {
  font-size: var(--font-header-size);
  font-weight: var(--font-header-weights);
  font-family:  var(--font-family);
}
